body {
    background-image: url(./assets/dylan-alcock-Xss4cp4exmU-unsplash.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: white;
}